<%= form_with model: menu, local: true do |f|%>
  <div class="field">
    <%= f.label :title, "食事の名称" %><br />
    <%= f.text_field :title, id:"menu_title" %>
  </div>

  <div class="field">
    <%= f.label :calorie, "総カロリー" %><br />
    <%= f.text_area :calorie, class: :form__text, id:"menu_calorie" %>
  </div>

  <div class="field">
    <%= f.label :nutrient, "栄養素" %><br />
    <%= f.text_area :nutrient, class: :form__text, id:"menu_nutrient" %>
  </div>

  <div class="field">
    <%= f.label :image, "食事の画像" %><br />
    <%= f.file_field :image, id:"menu_image" %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>